@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
/* styles.css */

/* Global Styles */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("images/BG-For-Port-Edit.png");
  background-position: inherit;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

:root {
  --primary-color: #333;
  --secondary-color: #fff;
  --accent-color: #007bff;
  --background-color: #fff;
}

.container h1 {
  position: relative;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container h1::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-color);
  animation: showright 4s ease forwards;
  animation-delay: 0.3s;
}

.container h1:hover {
  color: #007bff;
  transition: 1s ease-in-out;
}

/* Container Styles */
.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
}

.container span {
  font-family: "Poetsen One", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.container2 {
  display: flex;
  flex-direction: column;
  width: 50%;
  flex-wrap: wrap;
}

.dp {
  margin-right: 100px;
  display: none;
}


/* Header Styles */
header {
  color: white;
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: var(--primary-color);
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
}

.NameofPro {
  color: #fff;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* About Section Styles */
#about {
  display: flex;
  padding: 50px 123px;
  padding-top: 120px;
}

.ab {
  position: relative;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ab:hover {
  color: #007bff;
  transition: 1s ease-in-out;
}

.ab::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: white;
  animation: showright 4s ease forwards;
  animation-delay: 0.5s;
}


#about .container {
  width: 50%;
}

.SK {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.SK:hover {
  color: #007bff;
  transition: 1s ease-in-out;
}

/* Skills Section Styles */
#skills {
  display: flex;
  padding: 50px 0;
  width: 68%;
}


.aboutdesc {
  width: 90%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  font-family: "Poetsen One", sans-serif;
  font-weight: 50;
  font-style: normal;
}
#projects{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.descOfPro {
  color: white;
  font-family: "Poetsen One", sans-serif;
  font-weight: 50;
  font-style: normal;
}

.aboutdesc::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: white;
  animation: showright 4s ease forwards;
  animation-delay: 0.9s;
}



.aboutdesc div {
  padding-right: 20px;
}



.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.icon {
  border-radius: 50%;
  padding: 5px;
  background-color: rgb(77, 77, 77);
  transition: transform 0.3s ease;
  box-shadow: 0px 10px 10px black;
}

.iconbox {
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.icon:hover {
  transform: translateY(-10px);
}

.icon img {
  width: 60px;
  height: 60px;
}

/* Projects Section Styles */
.container4 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2.5rem;
  justify-content: center;
}

.container4 .project {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem black;
  overflow: hidden;
  display: flex;
  height: 300px;
  width: 450px;
}

.project img {
  width: 100%;
  transition: .5s ease;
}

.project:hover img {
  transform: scale(1.1);
}

.project .text {
  position: absolute;
  color: white;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, .1), black);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transform: translateY(100%);
  transition: .5s ease;
}

.project:hover .text {
  transform: translateY(0);
}

.text h3 {
  font-size: 33px;
}

.text p {
  font-size: 20px;
  padding: 0 50px;

}

.text a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 50%;
}

.text a i {
  font-size: 2rem;
  color: black;
}

.container3 {
  display: flex;
  width: 50%;
  padding: 0px 162px;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
}



.pro {
  font-size: 3rem;
  margin-bottom: 40px;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* Contact Section Styles */
#contact {
  padding: 50px 0;
  text-align: center;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container5 h2:hover {
  color: #007bff;
  transition: 1s ease-in-out;
}

.container6 {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Footer Styles */
footer {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 20px 0;
  text-align: center;
}

footer a {
  color: var(--secondary-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

footer a:hover {
  color: var(--accent-color);
}


.moving-text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
}

.moving-text span {
  display: inline-block;
  padding-right: 20px;
  animation: movingText 10s linear infinite;
}

.Social{
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Social i{
  font-size: 30px;
}

@media only screen and (max-width: 1000px) {
  body {
    background-position: center;
    background-image: url("images/mobilebg.png");
    background-attachment: fixed;
    background-repeat: inherit;
  }

  .ab::before {
    background: #e0e7e3;
  }

  .aboutdesc::before {
    background: #e0e7e3;
  }

  .container {
    width: 100%;
    align-items: center;
    flex-direction: column;
    gap: 0;
    justify-content: center;
    text-align: center;
  }

  header h1 {
    font-size: 1.5rem;
  }

  header h3 {
    font-size: 15px;
  }

  #about {
    flex-direction: column;
    padding: 85px 0px;
    padding-bottom: 10px;
  }

  .container2 {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .container3 {
    width: 100%;
    padding: 0px 0px;
  }

  .dp {
    margin-right: 0px;
    margin-top: 40px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .dpimage {
    border-radius: 50%;
    box-shadow: 0px 10px 20px black;
  }

  .dp::before {
    content: '';
    position: absolute;
    top: -20px;
    right: 0;
    width: 80%;
    margin-right: 50px;
    border-radius: 90px;
    height: 140%;
    background: #e0e7e3;
    animation: showright 4s ease forwards;
    animation-delay: 1.5s;
  }

  .container4 .project {
    height: 226px;
    width: 350px;
  }
  .text a {
    width: 50px;
    height: 50px;
  }

  .pro {
    font-size: 1.5rem;
  }

  .text h3 {
    font-size: 26px;
  }

  .text p {
    font-size: 13px;
  }

  .icons {
    justify-content: center;
    ;
  }

  #skills {
    padding: 25px 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
    width: 100%;
  }
}


@keyframes showright {
  100% {
    width: 0;
  }
}

/* Moving Text Animation */
@keyframes movingText {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
